@using Resources;
@{
    ViewBag.Title = CDResource.DokumanListesi;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.DokumanListesi</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">@CDResource.Anasayfa</a>
                        </li>
                        <li class="active">@CDResource.DokumanListesi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<div class="section">
    <p class="caption">@CDResource.DokumanListesi @CDResource.Goruntulenmektedir</p>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div id="documentListGrid"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="auditModal2" style="z-index: 100000; top:100px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@CDResource.DokumanGecmisi</h4>
            </div>
            <div class="modal-body">
                <div id="documentAuditGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CDResource.Kapat</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script data-main="/Areas/Admin/Scripts/app/page-scripts/document/index.page.js" src="~/Scripts/require.js"></script>
}
