@using Web.UI.Areas.Admin.Helpers
@using Resources;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Çeviri Dükkanı | Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>CeviriDukkani.com - Admin Template</title>
    <!-- Favicons-->
    <link rel="icon" href="~/Areas/Admin/Theme/images/favicon/favicon.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Theme/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/Areas/Admin/Theme/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="~/Areas/Admin/Theme/css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/Areas/Admin/Theme/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/js/plugins/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/js/plugins/prism/prism.css" rel="stylesheet" />
    <!--dropify-->
    <link href="~/Areas/Admin/Theme/js/plugins/dropify/css/dropify.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/css/main.css" rel="stylesheet" />
</head>
<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img src="~/Areas/Admin/Theme/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize" />
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><img src="~/Areas/Admin/Theme/images/flag-icons/culture_@(Request.Cookies["_culture"]?.Value).png" alt="USA" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                                <i class="mdi-social-notifications"><small class="notification-badge">5</small></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                        </li>
                    </ul>
                    <!-- translation-button -->
                    <ul id="translation-dropdown" class="dropdown-content">
                        <li>
                            <a href="@Url.Action("ChangeCulture","Home", new {cultureName = "en-us"})"><img src="~/Areas/Admin/Theme/images/flag-icons/culture_en-US.png" alt="English" />  <span class="language-select">English</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeCulture","Home", new {cultureName = "tr-TR"})"><img src="~/Areas/Admin/Theme/images/flag-icons/culture_tr-TR.png" alt="Turkish" />  <span class="language-select">Türkçe</span></a>
                        </li>
                        @*<li>
                            <a href="#!"><img src="~/Areas/Admin/Theme/images/flag-icons/China.png" alt="Chinese" />  <span class="language-select">Chinese</span></a>
                        </li>
                        <li>
                            <a href="#!"><img src="~/Areas/Admin/Theme/images/flag-icons/Germany.png" alt="German" />  <span class="language-select">German</span></a>
                        </li>*@
                    </ul>
                    <!-- notifications-dropdown -->
                    <ul id="notifications-dropdown" class="dropdown-content">
                        <li>
                            <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                        </li>
                        <li>
                            <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                        </li>
                        <li>
                            <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                        </li>
                        <li>
                            <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                        </li>
                        <li>
                            <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="~/Areas/Admin/Theme/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> @CDResource.Profilim</a>
                                    </li>
                                    @*
                                        <li>
                                            <a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                        </li>*@
                                    <li>
                                        <a href="/Admin/Account/Logout"><i class="mdi-hardware-keyboard-tab"></i> @CDResource.Cikis</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">@SessionUser.User.Name @SessionUser.User.SurName<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">@string.Join(", ", SessionUser.User.UserRoles.Select(x => x.UserRoleType.Name).ToArray())</p>
                                <input type="hidden" id="hdnUserId" value="@SessionUser.User.Id" />
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="@Url.Action("Index","Home")" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> @CDResource.Anasayfa</a>
                    </li>
                    @if (SessionUser.IsAdmin) {
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> @CDResource.Kullanici</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/User/Create">@CDResource.KullaniciEkle</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/User">@CDResource.KullaniciListesi</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/User/UserFilter">@CDResource.CevirmenListesi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-social-people"></i> @CDResource.Musteri</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/Customer/Create">@CDResource.MusteriEkle</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Customer">@CDResource.MusteriListesi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-home"></i> @CDResource.Sirket</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/Company/Create">@CDResource.SirketEkle</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Company">@CDResource.SirketListesi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-language"></i> @CDResource.Dil</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/Common/Languages">@CDResource.DilYonetimi</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Common/SourceTargetLanguages">@CDResource.HedefDilYonetimi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-language"></i> @CDResource.Terminoloji</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/Common/Terminologies">@CDResource.TerminolojiYonetimi</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Common/CompanyTerminologies">@CDResource.SirketTerminolojiList</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Common/CompanyTerminologyCreate">@CDResource.SirketTerminolojiEkle</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-file-folder-open"></i> @CDResource.Dokuman</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/Document/Index">@CDResource.DokumanYonetimi</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Document/Create">@CDResource.DokumanEkle</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-settings"></i> @CDResource.Araclar</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="/Admin/Common/PriceList">@CDResource.FiyatListesi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    }
                    @*
                        <li class="bold">
                            <a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mailbox <span class="new badge">4</span></a>
                        </li>
                        <li class="bold">
                            <a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i> CSS</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="css-typography.html">Typography</a>
                                            </li>
                                            <li>
                                                <a href="css-icons.html">Icons</a>
                                            </li>
                                            <li>
                                                <a href="css-animations.html">Animations</a>
                                            </li>
                                            <li>
                                                <a href="css-shadow.html">Shadow</a>
                                            </li>
                                            <li>
                                                <a href="css-media.html">Media</a>
                                            </li>
                                            <li>
                                                <a href="css-sass.html">Sass</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-palette"></i> UI Elements</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="ui-alerts.html">Alerts</a>
                                            </li>
                                            <li>
                                                <a href="ui-buttons.html">Buttons</a>
                                            </li>
                                            <li>
                                                <a href="ui-badges.html">Badges</a>
                                            </li>
                                            <li>
                                                <a href="ui-breadcrumbs.html">Breadcrumbs</a>
                                            </li>
                                            <li>
                                                <a href="ui-collections.html">Collections</a>
                                            </li>
                                            <li>
                                                <a href="ui-collapsibles.html">Collapsibles</a>
                                            </li>
                                            <li>
                                                <a href="ui-tabs.html">Tabs</a>
                                            </li>
                                            <li>
                                                <a href="ui-navbar.html">Navbar</a>
                                            </li>
                                            <li>
                                                <a href="ui-pagination.html">Pagination</a>
                                            </li>
                                            <li>
                                                <a href="ui-preloader.html">Preloader</a>
                                            </li>
                                            <li>
                                                <a href="ui-toasts.html">Toasts</a>
                                            </li>
                                            <li>
                                                <a href="ui-tooltip.html">Tooltip</a>
                                            </li>
                                            <li>
                                                <a href="ui-waves.html">Waves</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-av-queue"></i> Advanced UI <span class="new badge"></span></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="advanced-ui-chips.html">Chips</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-cards.html">Cards</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-modals.html">Modals</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-media.html">Media</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-range-slider.html">Range Slider</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-sweetalert.html">SweetAlert</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-nestable.html">Shortable & Nestable</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-translation.html">Language Translation</a>
                                            </li>
                                            <li>
                                                <a href="advanced-ui-highlight.html">Highlight</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a href="app-widget.html" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Widgets</a>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Tables</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="table-basic.html">Basic Tables</a>
                                            </li>
                                            <li>
                                                <a href="table-data.html">Data Tables</a>
                                            </li>
                                            <li>
                                                <a href="table-jsgrid.html">jsGrid</a>
                                            </li>
                                            <li>
                                                <a href="table-editable.html">Editable Table</a>
                                            </li>
                                            <li>
                                                <a href="table-floatThead.html">floatThead</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-insert-comment"></i> Forms <span class="new badge"></span></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="form-elements.html">Form Elements</a>
                                            </li>
                                            <li>
                                                <a href="form-layouts.html">Form Layouts</a>
                                            </li>
                                            <li>
                                                <a href="form-validation.html">Form Validations</a>
                                            </li>
                                            <li>
                                                <a href="form-masks.html">Form Masks</a>
                                            </li>
                                            <li>
                                                <a href="form-file-uploads.html">File Uploads</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-social-pages"></i> Pages</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="page-contact.html">Contact Page</a>
                                            </li>
                                            <li>
                                                <a href="page-todo.html">ToDos</a>
                                            </li>
                                            <li>
                                                <a href="page-blog-1.html">Blog Type 1</a>
                                            </li>
                                            <li>
                                                <a href="page-blog-2.html">Blog Type 2</a>
                                            </li>
                                            <li>
                                                <a href="page-404.html">404</a>
                                            </li>
                                            <li>
                                                <a href="page-500.html">500</a>
                                            </li>
                                            <li>
                                                <a href="page-blank.html">Blank</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-shopping-cart"></i> eCommers</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="eCommerce-products-page.html">Products Page</a>
                                            </li>
                                            <li>
                                                <a href="eCommerce-pricing.html">Pricing Table</a>
                                            </li>
                                            <li>
                                                <a href="eCommerce-invoice.html">Invoice</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-image"></i> Medias</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="media-gallary-page.html">Gallery Page</a>
                                            </li>
                                            <li>
                                                <a href="media-hover-effects.html">Image Hover Effects</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> User</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="user-profile-page.html">User Profile</a>
                                            </li>
                                            <li>
                                                <a href="user-login.html">Login</a>
                                            </li>
                                            <li>
                                                <a href="user-register.html">Register</a>
                                            </li>
                                            <li>
                                                <a href="user-forgot-password.html">Forgot Password</a>
                                            </li>
                                            <li>
                                                <a href="user-lock-screen.html">Lock Screen</a>
                                            </li>
                                            <li>
                                                <a href="user-session-timeout.html">Session Timeout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Charts</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="charts-chartjs.html">Chart JS</a>
                                            </li>
                                            <li>
                                                <a href="charts-chartist.html">Chartist</a>
                                            </li>
                                            <li>
                                                <a href="charts-morris.html">Morris Charts</a>
                                            </li>
                                            <li>
                                                <a href="charts-xcharts.html">xCharts</a>
                                            </li>
                                            <li>
                                                <a href="charts-flotcharts.html">Flot Charts</a>
                                            </li>
                                            <li>
                                                <a href="charts-sparklines.html">Sparkline Charts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="li-hover"><div class="divider"></div></li>
                        <li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
                        <li>
                            <a href="angular-ui.html"><i class="mdi-action-verified-user"></i> Angular UI  <span class="new badge"></span></a>
                        </li>
                        <li>
                            <a href="css-grid.html"><i class="mdi-image-grid-on"></i> Grid</a>
                        </li>
                        <li>
                            <a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
                        </li>
                        <li>
                            <a href="css-helpers.html"><i class="mdi-communication-live-help"></i> Helpers</a>
                        </li>
                        <li>
                            <a href="changelogs.html"><i class="mdi-action-swap-vert-circle"></i> Changelogs</a>
                        </li>*@
                    <li class="li-hover"><div class="divider"></div></li>
                    <li class="li-hover"><p class="ultra-small margin more-text">Daily Sales</p></li>
                    <li class="li-hover">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="sample-chart-wrapper">
                                    <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">

                <!--breadcrumbs start-->
                @RenderSection("breadcrumbs", false)
                <!--breadcrumbs end-->
                <!--start container-->
                <div class="container">
                    @RenderBody()
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START RIGHT SIDEBAR NAV-->
            <aside id="right-sidebar-nav">
                <ul id="chat-out" class="side-nav rightside-navigation">
                    <li class="li-hover">
                        <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                        <div id="right-search" class="row">
                            <div class="col s12">
                                @*<div class="input-field">
                                <i class="mdi-action-search prefix"></i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Search</label>
                            </div>*@
                                <p><a class="waves-effect waves-light btn modal-trigger  teal " href="#new-message">@CDResource.YeniMesaj</a>
                            </div>
                        </div>
                    </li>
                    <li class="li-hover">
                        <ul class="chat-collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header green white-text">
                                    <i class="mdi-content-inbox"></i>@CDResource.GelenMesajlar
                                </div>
                                <div class="collapsible-body favorite-associates">
                                    <div class="favorite-associate-list chat-out-list row" id="incoming-message">
                                        @*<div class="col s4">
                                        <img src="~/Areas/Admin/Theme/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>*@
                                        @*<div class="col s8">
                                        <p>Eileen Sideways</p>
                                        <p>Eileen Sideways</p>
                                        <p class="place">Los Angeles, CA</p>
                                    </div>*@
                                        @CDResource.GelenKutusuBos
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header red white-text"><i class="mdi-content-send"></i>@CDResource.GonderilenMesajlar</div>
                                <div class="collapsible-body favorite-associates">
                                    <div class="favorite-associate-list chat-out-list row" id="sent-message">
                                        @*<div class="col s4">
                                        <img src="~/Areas/Admin/Theme/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>*@
                                        @*<div class="col s8">
                                        <p>Eileen Sideways</p>
                                        <p>Eileen Sideways</p>
                                        <p class="place">Los Angeles, CA</p>
                                    </div>*@
                                        @CDResource.GonderilenKutusuBos
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- LEFT RIGHT SIDEBAR NAV-->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="container">
            @*<div class="row section">
                    <div class="col l6 s12">
                        <h5 class="white-text">World Market</h5>
                        <p class="grey-text text-lighten-4">World map, world regions, countries and cities.</p>
                        <div id="world-map-markers"></div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Sales by Country</h5>
                        <p class="grey-text text-lighten-4">A sample polar chart to show sales by country.</p>
                        <div id="polar-chart-holder">
                            <canvas id="polar-chart-country" width="200"></canvas>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © @(DateTime.Now.Year) <a class="grey-text text-lighten-4" href="http://tangentideas.net/" target="_blank">TangentIdeas</a> All rights reserved.
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://tangentideas.net/">TangentIdeas</a></span>
            </div>
        </div>
    </footer>
<!-- END FOOTER -->
    <div id="new-message" class="modal">
        <div class="modal-content white-text" style="padding: 0; color: black !important;">
            <div id="basic-form" class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card-panel">
                            <h4 class="header2">@CDResource.MesajGonder</h4>
                            <div class="row">
                                <form class="formValidate" id="formValidate">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="email" class="lblMail">@CDResource.EMail *</label>
                                            <input id="txtEmail" type="email" name="email" data-error=".errorTxt3">
                                            <div class="errorTxt3"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="subject">@CDResource.Konu *</label>
                                            <input id="txtSubject" name="subject" type="text" data-error=".errorTxt2">
                                            <div class="errorTxt2"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="txtMessage" name="message" placeholder="Mesaj" data-error=".errorTxt3"></textarea>
                                            <div class="errorTxt3"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer lighten-4">
            <a href="#" class="waves-effect waves-red btn-flat" id="btnSave">@CDResource.Gonder<i class="mdi-content-send right"></i></a>
            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">@CDResource.Kapat</a>
        </div>
    </div>
    <div id="reply-message" class="modal">
        <div class="modal-content white-text" style="padding: 0; color: black !important;">
            <div id="basic-form" class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="row" id="dvMessageDetail" style="display:none">
                            <div><b>@CDResource.Kimden : <span id="spnMessageUserName">Ömer Faruk</span></b></div>
                            <div class="message-title">@CDResource.Konu    : <span id="spnMessageSubject"></span></div>
                            <div>@CDResource.Mesaj  : <span id="spnMessageText"></span></div>
                            <input type="hidden" id="hdnEmail" />
                        </div>
                        <div class="card-panel">
                            <h4 class="header2">@CDResource.Yanitla</h4>
                            <div class="row">
                                <form class="formValidate" id="formValidate2">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="txtReplyMessage" name="replymessage" placeholder="Mesaj" data-error=".errorTxt3" style="height: 100px;"></textarea>
                                            <div class="errorTxt3"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer lighten-4">
            <a href="#" class="waves-effect waves-red btn-flat" id="btnReply">@CDResource.Gonder<i class="mdi-content-send right"></i></a>
            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">@CDResource.Kapat</a>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script src="~/Areas/Admin/Theme/js/plugins/core/libraries/jquery.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/plugins/core/libraries/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/plugins/core/libraries/jasny_bootstrap.min.js"></script>
@*<script src="~/Areas/Admin/Theme/js/plugins/core/app.js"></script>*@

    <script src="~/Areas/Admin/Theme/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/materialize.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/custom-script.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/dx/js/globalize.min.js"></script>
    <script src="~/Scripts/dx/js/globalize.culture.tr.js"></script>
    <script src="~/Scripts/dx/js/globalize.culture.tr-TR.js"></script>
    <script src="~/Scripts/dx/js/localization.default.js"></script>
    <script src="~/Scripts/dx/js/localization/dx.all.tr.js"></script>
    <script src="~/Scripts/dx/js/jszip.min.js"></script>

    <script src="~/Areas/Admin/Theme/js/plugins/ui/ripple.min.js"></script>
    <script src="~/Areas/Admin/Theme/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/ui/prism.min.js"></script>

    <script src="~/Areas/Admin/Scripts/app/page-scripts/common/layout.page.js"></script>
    <script type="text/javascript">

        if (!String.prototype.supplant) {
            String.prototype.supplant = function (o) {
                return this.replace(
                    /{([^{}]*)}/g,
                    function (a, b) {
                        var r = o[b];
                        return typeof r === 'string' || typeof r === 'number' ? r : "";
                    }
                );
            };
        }
    </script>
    @RenderSection("scripts", false)
    @*<script data-main="/Areas/Admin/Scripts/app/page-scripts/common/layout.page.js" src="~/Scripts/require.js"></script>*@
    <!-- Toast Notification -->
    
</body>
</html>
