@using Resources;
@model Tangent.CeviriDukkani.Domain.Dto.Sale.OrderDto

@{
    ViewBag.Title = CDResource.SiparisDetay;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.SiparisDetay</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">@CDResource.Anasayfa</a>
                        </li>
                        <li class="active">@CDResource.SiparisDetay</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<div class="section">
    @if (ViewBag.Message != null) {
        <h3>@ViewBag.Message</h3>
    } else {
        <div class="row">
            <div class="col s12">
                <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
                    <li class="tab col s3">
                        <a href="#customer" class="active">@CDResource.MusteriBilgileri</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#translation" class="">@CDResource.CeviriBilgileri</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#details" class="">@CDResource.DetayBilgileri</a>
                    </li>
                    <div class="indicator" style="right: 2px; left: 903px;"></div>
                    <div class="indicator" style="right: 2px; left: 903px;"></div>
                </ul>
            </div>
            <div class="col s12">
                <div id="customer" class="col s12">
                    <h5>@CDResource.GenelBilgiler</h5>
                    <p><span class="label">@CDResource.AdSoyad:</span> @Model.Customer.Name @Model.Customer.Surname</p>
                    <p><span class="label">@CDResource.Firma:</span> @Model.Customer.Company.Name</p>
                    <p><span class="label">@CDResource.Kod:</span> @Model.Customer.InstitutionCode</p>
                    <p><span class="label">@CDResource.UyelikTuru:</span> @Model.Customer.MembershipType.Name</p>
                    <div class="divider"></div>
                    <h5>@CDResource.IletisimBilgileri</h5>
                    <p><span class="label">@CDResource.EMail:</span> @Model.Customer.Email</p>
                    <p><span class="label">@CDResource.CepTel:</span> @Model.Customer.MobilePhone</p>
                </div>
                <div id="translation" class="col s12" style="display: none;">
                    <p><span class="label">@CDResource.SiparisDurumu:</span> @Model.OrderStatus.Name</p>
                    <p><span class="label">@CDResource.CeviriKaynakDili:</span> @Model.SourceLanguage.Name</p>
                    <p><span class="label">@CDResource.CevirilecekDiller:</span> @String.Join(",", @Model.TargetLanguages.Select(a => a.Language.Name))</p>
                    <p><span class="label">@CDResource.SeciliTerminoloji:</span> @Model.Terminology.Name</p>
                    <p><span class="label">@CDResource.SeciliCeviriKalitesi:</span> @Model.TranslationQuality.Name</p>
                    <div class="divider"></div>
                    <h5>@CDResource.FiyatBilgileri</h5>
                    <p><span class="label">@CDResource.HesaplananFiyat:</span> @Model.CalculatedPrice</p>
                    <p><span class="label">@CDResource.VergiOrani:</span> @Model.VatPrice</p>
                    @if (Model.CampaignItem != null) {
                        <div class="divider"></div>
                            <h5>@CDResource.KampanyaBilgileri</h5>
                            <p><span class="label">@CDResource.UygulananKampanyaKodu:</span> @Model.CampaignItem.Code</p>
                            <p><span class="label">@CDResource.UygulananKampanyaAciklamasi</span> @Model.CampaignItem.Description</p>
                            <p><span class="label">@CDResource.UygulananKampanyaIndirimYuzdesi</span> @Model.CampaignItem.DiscountRate</p>
                    }
                </div>
                <div id="details" class="col s12" style="display: none;">
                    @foreach (var orderDetailDto in Model.OrderDetails) {
                        <p><span class="label">@CDResource.Cevirmen:</span> @orderDetailDto.TranslationOperation.Translator.Name - @orderDetailDto.TranslationOperation.Translator.SurName</p>
                            <p><span class="label">@CDResource.CevirmenFiyat:</span> @orderDetailDto.AcceptedPrice</p>
                            <p><span class="label">@CDResource.Editor:</span> @orderDetailDto.TranslationOperation.Editor.Name - @orderDetailDto.TranslationOperation.Editor.SurName</p>
                            <p><span class="label">@CDResource.EditorFiyat:</span> @orderDetailDto.EditorAcceptedPrice</p>
                            <p><span class="label">@CDResource.ProofReader:</span> @orderDetailDto.TranslationOperation.ProofReader.Name - @orderDetailDto.TranslationOperation.ProofReader.SurName</p>
                            <p><span class="label">@CDResource.ProofReaderFiyat:</span> @orderDetailDto.ProofReaderAcceptedPrice</p>
                            <div class="divider"></div>
                            <p><span class="label">@CDResource.IslemDurumu:</span> @orderDetailDto.TranslationOperation.TranslationOperationStatus.Name</p>
                            <p><span class="label">@CDResource.IlerlemeDurumu:</span> @orderDetailDto.TranslationOperation.TranslationProgressStatus.Name</p>
                    }
                </div>
            </div>
        </div>
    }
</div>

