@using Resources;
@model Tangent.CeviriDukkani.Domain.Dto.Sale.CampaignItemDto

@{
    ViewBag.Title = CDResource.KampanyaGuncelleme;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.KampanyaGuncelleme</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">@CDResource.Anasayfa</a>
                        </li>
                        <li class="active">@CDResource.KampanyaGuncelleme</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<div class="section">
    @if (ViewBag.Message != null) {
        <h3>@ViewBag.Message</h3>
    } else {
        <div class="row">
            <form class="col s12">
                <input type="hidden" id="itemId" value="@Model.Id"/>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Kod" id="code" type="text" name="Code" value="@Model.Code">
                        <label for="code" class="active">@CDResource.Kod</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="Açıklama" id="description" class="materialize-textarea" name="Description" value="@Model.Description"></textarea>
                        <label for="description" class="active">@CDResource.Aciklama</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="İndirim" id="discount" type="text" name="DiscountRate" value="@Model.DiscountRate">
                        <label for="discount" class="active">@CDResource.IndirimOrani</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Başlangıç Zamanı" id="startTime" type="text" class="datepicker" name="StartTime" value="@Model.StartTime">
                        <label for="startTime" class="active">@CDResource.BaslangicTarihi</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Bitiş Zamanı" id="endTime" type="text" class="datepicker" name="EndTime" value="@Model.EndTime">
                        <label for="endTime" class="active">@CDResource.BitisTarihi</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @{
                            var durum = Model.Used ? "checked=\"checked\"" : "";
                        }
                        <input type="checkbox" id="isUsed" @durum>
                        <label for="isUsed">@CDResource.KullanilmaDurumu</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn cyan waves-effect waves-light right" id="action">
                            @CDResource.Guncelle
                            <i class="mdi-content-send right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
                            }
</div>

@section scripts{
    <script data-main="/Areas/Admin/Scripts/app/page-scripts/order/campaign.update.page.js" src="~/Scripts/require.js"></script>
}

