@model List<Tangent.CeviriDukkani.Domain.Dto.Common.CareerItemDto>


@{
    ViewBag.Title = "Bizimle çalışmak ister misiniz?";
}

<style>
    .txt-align-center {
        text-align: center;
    }
</style>


<section id="content">
    <div class="content-wrap">
        <div class="row">
            <div class="col-md-12">
                <h1 class="txt-align-center">Bizimle çalışmak ister misiniz?</h1>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>İş Başlığı</th>
                                <th>Yer</th>
                                <th>Tarih</th>
                                <th>Sayı</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var careerItemDto in Model) {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("JobDetail", "Home", new {jid = careerItemDto.Id})">@careerItemDto.Title</a>
                                    </td>
                                    <td>@careerItemDto.Location</td>
                                    <td>@careerItemDto.CreatedAt</td>
                                    <td>@careerItemDto.PersonCount</td>
                                    <td>
                                        <a class="button button-3d button-mini button-rounded button-dirtygreen" href="@Url.Action("ApplyForAJob", "Home", new {jid = careerItemDto.Id})">
                                            Başvur <i class="icon-play-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</section>
