
@{
    ViewBag.Title = "title";
}

<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300|Open+Sans:400,300,700,600|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link href="/Content/css/font-faces.css" rel="stylesheet" type="text/css">

<script async src="/Content/js/analytics.js"></script>
<style>
    [data-tip] {
        position: relative;
    }

        [data-tip]:after {
            display: none;
            content: attr(data-tip);
            position: absolute;
            top: -35px;
            left: 0px;
            padding: 5px 8px;
            background: #fec300;
            color: #000;
            z-index: 1019;
            font-size: 0.8em;
            font-family: arial;
            height: 18px;
            line-height: 18px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            white-space: nowrap;
            word-wrap: normal;
        }

        [data-tip]:before {
            content: '';
            /* hides the tooltip when not hovered */
            display: none;
            content: '';
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            /* border-bottom: 5px solid #fec300;*/
            border-top: 5px solid #fec300;
            position: absolute;
            top: -7px;
            left: 35px;
            z-index: 1018;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
        }

        [data-tip]:hover:before,
        [data-tip]:hover:after {
            display: block;
        }

    #ContentPlaceHolder1_drpSirketler select option {
        font-weight: bold;
    }
</style>

@section scripts{
    
    <script>

        $(function() {

            $('.ccInput').not(':last').keyup(function() {
                if ($(this).val().length == Number($(this).attr('maxlength'))) {
                    $(this).next('.ccInput').focus();
                    $(this).next('.ccInput').select();
                }
            });
        });
    </script>
}
<div class="clear"></div>
<h1 class="ortala" style="color: #00d4d7">Bizimle çalışmak keyif vericidir!</h1>
<div class="ortala">
    <div class="uyelikformu-baslik">
        <div style="clear: both"></div>
        @ViewBag.Job.Title
        Detayları
        <div class="steps">
            <div style="clear: both"></div>
            <span class="ac-step"><a href="#">İş Detayları</a></span><div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="uyelikformu">
        <div style="clear: both"></div>
        <table border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td width="100" style="font-weight:bold">İş Ünvanı: </td>
                <td width="549">
                    @ViewBag.Job.Title
                </td>
            </tr>
            <tr>
                <td width="100" style="font-weight:bold">İş Başlığı:</td>
                <td>
                    @ViewBag.Job.Function
                </td>
            </tr>
            <tr>
                <td width="100" style="font-weight:bold">Lokasyon: </td>
                <td>
                    @ViewBag.Job.Location
                </td>
            </tr>
            <tr>
                <td width="100" style="font-weight:bold">Alınacak Kişi:</td>
                <td>
                    @ViewBag.Job.KisiSayisi
                </td>
            </tr>
            <tr>
                <td width="100" style="font-weight:bold;vertical-align:top">İş Detayları:</td>
                <td>
                    @ViewBag.Job.Detail
                </td>
            </tr>
            <tr>
                <td width="100">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td width="100" style="font-weight:bold">&nbsp;</td>
                <td align="left">
                    <button id="btnNext" class="buton2" style="margin-top: 1px; float:right; cursor: pointer" onclick="btnNext_Click">Başvur »</button>
                </td>
            </tr>
        </table>
        <div style="clear: both"></div>
    </div>
</div>

