@using Resources;
@using Web.UI.Areas.Admin.Helpers
@{
    ViewBag.Title = CDResource.ProofReaderIslemi;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.ProofReaderIslemi</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">@CDResource.Anasayfa</a>
                        </li>
                        <li class="active">@CDResource.ProofReaderIslemi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<div class="section">
    <p class="caption">@CDResource.ProofReaderIslemi @CDResource.Goruntulenmektedir</p>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div style="position: relative;">
                <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 19px;">
                    <a class="btn-floating btn-large">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                    <ul>
                        @if (SessionUser.IsProofReader) {
                            <li>
                                <a class="btn-floating yellow darken-1 waves-effect waves-light btn" href="" tooltip="@CDResource.Guncelle" id="updateContent"><i class="large mdi-action-autorenew"></i></a>
                            </li>

                            <li>
                                <a class="btn-floating yellow darken-1 waves-effect waves-light btn" href="" tooltip="@CDResource.Guncelle" id="finishContent"><i class="large mdi-action-done"></i></a>
                            </li>
                        }
                        <li>
                            <a class="btn-floating yellow darken-1 waves-effect waves-light btn modal-trigger" href="#comments" tooltip="@CDResource.YorumlariGoster"><i class="large mdi-content-archive"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s6 m6 l6">
                <textarea name="editor1" id="original" rows="10" cols="40"></textarea>
            </div>
            <div class="col s6 m6 l6">
                <textarea name="editor1" id="editedContent" rows="10" cols="40"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <textarea name="editor1" id="translator" rows="10" cols="40"></textarea>
            </div>
        </div>
    </div>
</div>

<div id="comments" class="modal">
    <div class="modal-content">
        <ul class="collection" id="commentCollection"></ul>
    </div>
    <div class="modal-footer  teal lighten-4">
        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">@CDResource.Kapat</a>
    </div>
</div>

<div id="addComment" class="modal">
    <div class="modal-content">
        <div class="col s12 m12 l6">
            <div class="input-field col s12">
                <textarea placeholder="Yorum İçeriği" id="content" class="materialize-textarea"></textarea>
                <label for="content" class="active">@CDResource.Icerik</label>
            </div>
        </div>
    </div>
    <div class="modal-footer  teal lighten-4">
        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">@CDResource.Iptal</a>
        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" id="addCommentBtn">@CDResource.Ekle</a>
    </div>
</div>


<input type="hidden" value="@SessionUser.User.Id" id="userId" />
@section scripts{
    <script data-main="/Areas/Admin/Scripts/app/page-scripts/translation/proof.reader.content.page.js" src="~/Scripts/require.js"></script>
}
