<div class="siteharitasi_tasiyici">
    <div class="siteharitasi ortala">
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="@Url.Action("About","Home")">Çeviri Dükkanı Hakkında</a></li>
            <li><a href="@Url.Action("HowItWorks","Home")">Nasıl Çalışıyor</a></li>
            <li><a href="@Url.Action("TranslatorSignUp","Home")">Üye Girişi</a></li>
            <li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
            <li><a href="@Url.Action("QualityTranslation","Home")">Kaliteli Çeviri</a></li>
            <li><a href="@Url.Action("TranslatorSignUp","Home")">Üye Ol</a></li>
            <li><a href="@Url.Action("ServiceAggrement", "Home")">İptal ve İade Koşulları</a></li>
            <li><a href="@Url.Action("ServiceAggrement", "Home")">Hizmet Sözleşmesi</a></li>
            <li><a href="@Url.Action("SecurityAndPrivacy", "Home")">Güvenlik ve Gizlilik</a></li>
            <li><a href="@Url.Action("BillingInfo", "Home")">Banka Hesap Bilgileri</a></li>
            <li><a href="@Url.Action("Translation", "Home")">Tercüme</a></li>
            <li><a href="@Url.Action("TranslationBureau", "Home")">Çeviri Bürosu</a></li>
            <li><a href="@Url.Action("Translation", "Home")">Çeviri Yaptır</a></li>
            <li><a href="@Url.Action("Translation", "Home")">Hızlı Çeviri</a></li>
            <li><a href="@Url.Action("Translation", "Home")">Profesyonel Çeviri</a></li>
        </ul>
    </div>
</div>

<div class="clear"></div>
<div class="altbar_tasiyici">
    <div class="altbar ortala">
        <img src="~/Content/images/logo_kucuk.png" align="left" />
        <div style="margin-top: 15px; width: 450px; float: left; margin-left: 15px; color: #fff;">
            Dr.Kemal Akgüder Cad. Kurukaya Sk. Koç Apt. No:5/B - Bostancı / İSTANBUL<br />
            444 0 671 | +90 216 362 6 362 | +90 216 362 6 369
        </div>
        <div style="float: right; margin-top: 15px">
            <img src="~/Content/images/visa-master-american.png" alt="visa master american express" border="0" />
        </div>
    </div>
</div>
