@{
    Layout = null;
}



<div class="list-group">
    <a href="@Url.Action("Translation","Home")" class="list-group-item clearfix">Tercüme <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("TranslatingOffice","Home")" class="list-group-item clearfix">Çeviri Bürosu <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("EnglishTurkishTranslation","Home")" class="list-group-item clearfix">İngilizce Türkçe Tercüme <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("TurkishEnglishTranslation","Home")" class="list-group-item clearfix">Türkçe İngilizce Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("ProfessionalTranslation","Home")" class="list-group-item clearfix">Profesyonel Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("QuickTranslation","Home")" class="list-group-item clearfix">Hızlı Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("QualityTranslation","Home")" class="list-group-item clearfix">Kaliteli Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("EnglishTranslation","Home")" class="list-group-item clearfix">İngilizçe Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("TurkishTranslation","Home")" class="list-group-item clearfix">Türkçe Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("MakeTranslating","Home")" class="list-group-item clearfix">Çeviri Yaptır <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("SecurityAndPrivacy","Home")" class="list-group-item clearfix">Güvenlik ve Gizlilik <i class="icon-laptop2 pull-right"></i></a>
    <a href="@Url.Action("BillingInfo","Home")" class="list-group-item clearfix">Banka Hesap Bilgileri <i class="icon-envelope2 pull-right"></i></a>
    <a href="@Url.Action("ServiceAggrement#iptal","Home")" class="list-group-item clearfix">İptal ve İade Koşulları <i class="icon-credit-cards pull-right"></i></a>
    <a href="@Url.Action("ServiceAggrement","Home")" class="list-group-item clearfix">Hizmet Sözleşmesi <i class="icon-cog pull-right"></i></a>
</div>