@{
    Layout = null;
}



<div class="list-group">
    <a href="@Url.Action("QualityTranslation","Home")" class="list-group-item clearfix">Kaliteli Çeviri <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("SecurityAndPrivacy","Home")" class="list-group-item clearfix">Güvenlik ve Gizlilik <i class="icon-laptop2 pull-right"></i></a>
    <a href="@Url.Action("BillingInfo","Home")" class="list-group-item clearfix">Banka Hesap Bilgileri <i class="icon-envelope2 pull-right"></i></a>
    <a href="@Url.Action("ServiceAggrement#iptal","Home")" class="list-group-item clearfix">İptal ve İade Koşulları <i class="icon-credit-cards pull-right"></i></a>
    <a href="@Url.Action("ServiceAggrement","Home")" class="list-group-item clearfix">Hizmet Sözleşmesi <i class="icon-cog pull-right"></i></a>
</div>