@using Resources;
@using Tangent.CeviriDukkani.Domain.Dto.Common

@{
    ViewBag.Title = CDResource.KullaniciEkle;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/css/validate.css" rel="stylesheet" />
@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.KullaniciEkle</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">Anasayfa</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index")">@CDResource.KullaniciListesi</a>
                        </li>
                        <li class="active">@CDResource.KullaniciEkle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
<div class="section">
    <p class="caption">@CDResource.KullaniciEklemekIcinKullaniliKullanicininDigerBilgilerini</p>
    <div class="divider"></div>
    <!--Basic Tabs-->
    <div id="basic-tabs" class="section">
        <h4 class="header">@CDResource.KullaniciEkle</h4>
        <div class="row">
            <div class="col s12 m12 l12">

                <div class="row">
                    <div class="col s12">
                        <ul class="tabs tab-demo z-depth-1">
                            <li class="tab col s3">
                                <a class="active" href="#test1">@CDResource.GenelBilgiler</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <div id="test1">
                            <div class="card-panel">
                                <form class="formValidate" id="formValidate">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="name">@CDResource.Adi *</label>
                                            <input id="txtName" name="name" type="text" data-error=".errorTxt1">
                                            <div class="errorTxt1"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="surname">@CDResource.Soyadi *</label>
                                            <input id="txtSurname" name="surname" type="text" data-error=".errorTxt2">
                                            <div class="errorTxt2"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="birthDate">@CDResource.DogumTarihi *</label>
                                            <input id="txtBirthDate" name="birthDate" type="date" class="datepicker" data-error=".errorTxt9">
                                            <div class="errorTxt9"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="email">@CDResource.EMail *</label>
                                            <input id="txtEmail" type="email" name="email" data-error=".errorTxt3">
                                            <div class="errorTxt3"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="mobile-phone">@CDResource.CepTelefonu</label>
                                            <input id="txtMobilePhone" type="text" name="mobile-phone">
                                        </div>

                                        <div class="input-field col s12">
                                            <label for="password">@CDResource.Sifre *</label>
                                            <input id="txtPassword" type="text" name="password" data-error=".errorTxt4">
                                            <div class="errorTxt4"></div>
                                        </div>
                                        <div class="col s12 dvUserRoles">
                                            <label for="role">@CDResource.KullaniciTipi *</label>
                                            <select multiple id="ddlUserRole">
                                                <option value="" disabled selected>@CDResource.LutfenSeciniz</option>
                                                @foreach (var item in (List<UserRoleTypeDto>)ViewBag.UserRoleTypes)
                                                {
                                                <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                            <input type="hidden" id="hdnUserRoleTypes" />
                                            <div class="input-field">
                                                <div class="errorTxt6"></div>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <label for="genter_select">@CDResource.Cinsiyet *</label>
                                            <p>
                                                <input value="1" name="cgender" type="radio" id="gender_male" data-error=".errorTxt8" />
                                                <label for="gender_male">@CDResource.Bay</label>
                                            </p>
                                            <p>
                                                <input value="2" name="cgender" type="radio" id="gender_female" value="f" />
                                                <label for="gender_female">@CDResource.Bayan</label>
                                            </p>
                                            <div class="input-field">
                                                <div class="errorTxt8"></div>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <button id="btnSave" class="btn waves-effect waves-light right submit" type="button">
                                                @CDResource.Kaydet
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@section scripts{
    <script data-main="/Areas/Admin/Scripts/app/page-scripts/user/create.page.js" src="~/Scripts/require.js"></script>
}