@using Resources;
@model Tangent.CeviriDukkani.Domain.Dto.Common.CompanyDto

@{
    ViewBag.Title = CDResource.Sirket;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/css/validate.css" rel="stylesheet" />
@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.Sirket</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">@CDResource.Anasayfa</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index")">@CDResource.SirketListesi</a>
                        </li>
                        <li class="active">@CDResource.Sirket</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
<div class="section">
    <p class="caption">@CDResource.Sirket</p>
    <div class="divider"></div>
    <div id="basic-form" class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="name">@CDResource.SirketAdi</label>
                            <p>@Model.Name</p>
                        </div>
                        <div class="input-field col s12">
                            <label for="email">@CDResource.YetkiliEmail *</label>
                            <p>@Model.AuthorizedEmail</p>
                        </div>
                        <div class="input-field col s12">
                            <label for="authorizedFullName">@CDResource.YetkiliAdsoyad *</label>
                            <p>@Model.AuthorizedFullName</p>
                        </div>
                        <div class="input-field col s12">
                            <label for="mobile-phone">@CDResource.YetkiliCepTelefonu</label>
                            <p>@Model.AuthorizedMobilePhone</p>
                        </div>
                        @*//TODO: logo*@
                        <div class="input-field col s12">
                            <label for="phone">@CDResource.SabitTelefon</label>
                            <p>@Model.Phone</p>
                        </div>
                        <div class="input-field col s12">
                            <label for="extensionNumber">@CDResource.Dahili</label>
                            <p>@Model.ExtensionNumber</p>
                        </div>
                        <div class="input-field col s12">
                            <label for="accountingEmail">@CDResource.MuhasebeEmail</label>
                            <p>@Model.AccountingEmail</p>
                        </div>
                        <p style="margin-left: 11px;">
                            <input type="checkbox" id="chkUsedPO" checked="@Model.IsUsingPo">
                            <label for="chkUsedPO">@CDResource.PoKullaniyormu</label>
                        </p>

                        <div class="input-field col s12">
                            <label for="taxNumber">@CDResource.VergiNumarasi</label>
                            <p>@Model.TaxNumber</p>
                        </div>
                        <div class="input-field col s12">
                            <label for="taxOffice">@CDResource.VergiDairesi</label>
                            <p>@Model.TaxOffice</p>
                        </div>
                        <p style="margin-left: 11px;">
                            <input type="checkbox" id="chkContractPrice" checked="@Model.IsContractPrice">
                            <label for="chkContractPrice">@CDResource.AnlasmaliFiyatVarmi</label>
                        </p>
                        <div class="input-field col s12">
                            <label for="address">@CDResource.Adres</label>
                            <p>@Model.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>