@using Resources;
@model Tangent.CeviriDukkani.Domain.Dto.Common.CompanyDto
    
@{
    ViewBag.Title = CDResource.SirketDuzenle;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/css/validate.css" rel="stylesheet" />
@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">@CDResource.SirketDuzenle</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">@CDResource.Anasayfa</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index")">@CDResource.SirketListesi</a>
                        </li>
                        <li class="active">@CDResource.SirketDuzenle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
<div class="section">
    <p class="caption">@CDResource.SirketDuzenlemekIcinKullanilir</p>
    <div class="divider"></div>
    <div id="basic-form" class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2">@CDResource.SirketDuzenle</h4>
                    <div class="row">
                        <form class="formValidate" id="formValidate">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="name">@CDResource.SirketAdi *</label>
                                    @Html.TextBoxFor(m => m.Name, new { id = "txtName", data_error = ".errorTxt1" })
                                    <div class="errorTxt1"></div>
                                </div>
                                <div class="input-field col s12">
                                    <label for="email">@CDResource.YetkiliEmail *</label>
                                    @Html.TextBoxFor(m => m.AuthorizedEmail, new { id = "txtAuthorizedEmail", type = "email", data_error = ".errorTxt2" })
                                    <div class="errorTxt2"></div>
                                </div>
                                <div class="input-field col s12">
                                    <label for="authorizedFullName">@CDResource.YetkiliAdsoyad *</label>
                                    @Html.TextBoxFor(m => m.AuthorizedFullName, new { id = "txtAuthorizedFullName", data_error = ".errorTxt3" })
                                    <div class="errorTxt3"></div>
                                </div>
                                <div class="input-field col s12">
                                    <label for="mobile-phone">@CDResource.YetkiliCepTelefonu</label>
                                    @Html.TextBoxFor(m => m.AuthorizedMobilePhone, new { id = "txtAuthorizedMobilePhone", data_error = ".errorTxt4" })
                                    <div class="errorTxt4"></div>
                                </div>
                                @*//TODO: logo*@
                                <div class="input-field col s12">
                                    <label for="phone">@CDResource.SabitTelefon</label>
                                    @Html.TextBoxFor(m => m.Phone, new { id = "txtPhone" })
                                </div>
                                <div class="input-field col s12">
                                    <label for="extensionNumber">@CDResource.Dahili</label>
                                    @Html.TextBoxFor(m => m.ExtensionNumber, new { id = "txtExtensionNumber" })
                                </div>
                                <div class="input-field col s12">
                                    <label for="accountingEmail">@CDResource.MuhasebeEmail</label>
                                    @Html.TextBoxFor(m => m.AccountingEmail, new { id = "txtAccountingEmail", type = "email" })
                                </div>
                                <p style="margin-left: 11px;">
                                    <input type="checkbox" id="chkUsedPO" checked="@Model.IsUsingPo">
                                    <label for="chkUsedPO">@CDResource.PoKullaniyormu</label>
                                </p>

                                <div class="input-field col s12">
                                    <label for="taxNumber">@CDResource.VergiNumarasi</label>
                                    @Html.TextBoxFor(m => m.TaxNumber, new { id = "txtTaxNumber" })
                                </div>
                                <div class="input-field col s12">
                                    <label for="taxOffice">@CDResource.VergiDairesi</label>
                                    @Html.TextBoxFor(m => m.TaxOffice, new { id = "txtTaxOffice" })
                                </div>
                                <p style="margin-left: 11px;">
                                    <input type="checkbox" id="chkContractPrice" checked="@Model.IsContractPrice">
                                    <label for="chkContractPrice">@CDResource.AnlasmaliFiyatVarmi</label>
                                </p>
                                <div class="input-field col s12">
                                    <label for="address">@CDResource.Adres</label>
                                    @Html.TextBoxFor(m => m.Address, new { id = "txtAddress" })
                                </div>
                                <div class="input-field col s12">
                                    @Html.HiddenFor(m => m.Id, new { id = "hdnUserId" })
                                    <button id="btnSave" class="btn waves-effect waves-light right submit" type="button">
                                        @CDResource.Kaydet
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
@section scripts{
    <script data-main="/Areas/Admin/Scripts/app/page-scripts/company/edit.page.js" src="~/Scripts/require.js"></script>
}