@model List<Tangent.CeviriDukkani.Domain.Dto.Common.LanguageDto>
    @using Resources;
@{
    ViewBag.Title = CDResource.KaynakHedefDilYonetimi;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section breadcrumbs{
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">@CDResource.KaynakHedefDilYonetimi</h5>
                <ol class="breadcrumbs">
                    <li>
                        <a href="/Admin/Home">@CDResource.Anasayfa</a>
                    </li>
                    <li class="active">@CDResource.KaynakHedefDilYonetimi</li>
                </ol>
            </div>
        </div>
    </div>
</div>
}
<div class="section">
    <div class="col s12">
        <label for="role">@CDResource.KaynakDil</label>
        <select class="error browser-default" id="ddlLanguages" name="role">
            <option value="">@CDResource.LutfenSeciniz</option>
            @{
            foreach (var item in Model)
                {
                <option value="@item.Id">@item.Name</option>
                }
                }
        </select>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="input-field col l12 center"><b>@CDResource.HedefDil</b></div>
                @{
                    foreach (var item in Model)
                    {
            <div class="input-field col l2 m4 s12 dvLanguages">
                <input type="checkbox" class="chkLanguages" id="chkLanguages_@item.Id" leagueId="@item.Id" disabled />
                <label for="chkLanguages_@item.Id">@item.Name</label>
            </div>

                }
                }

        </div>
    </div>

</div>

@section scripts{
<script data-main="/Areas/Admin/Scripts/app/page-scripts/common/source.target.languages.page.js" src="~/Scripts/require.js"></script>
}

